/* Controls */
.controls {
    position: absolute;
    bottom: 30px;
    right: 30px;
    z-index: 2;
    text-align: left;
}
.ctrl {
    text-align: center;
    display: inline-block;
    cursor: pointer;
    padding: 15px;
    border-radius: 50%;
    background-color: var(--color-primary);
    position: relative;
}
.ctrl img {
    height: 25px;
    width: 25px;
    filter: brightness(0.5);
}

#fullscreen img {
    height: 25px;
    width: 25px;
}
#show-controls {
    display: none;
    width: 45px;
    right: 46px;
    text-align: center;
}
#show {
    padding: 0;
}
#play {
    display: none;
}
#mobile-show-controls {
    display: none;
}

.orientation-ctrl {
    background-repeat: no-repeat;
    background-size: auto;
    height: 22px;
    background-position: center;
    margin-bottom: -10px;
    width: 22px !important;
}
#orientation-active {
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNMTIgMmM1LjUxNCAwIDEwIDQuNDg2IDEwIDEwcy00LjQ4NiAxMC0xMCAxMC0xMC00LjQ4Ni0xMC0xMCA0LjQ4Ni0xMCAxMC0xMHptMC0yYy02LjYyNyAwLTEyIDUuMzczLTEyIDEyczUuMzczIDEyIDEyIDEyIDEyLTUuMzczIDEyLTEyLTUuMzczLTEyLTEyLTEyem02IDUuOTk5bC01LjYyMSAyLjk4NmMtLjg5OS0uMTA0LTEuODA2LjE5MS0yLjQ3NC44NTktLjY2Mi42NjMtLjk1IDEuNTYxLS44NjIgMi40MjhsLTMuMDQzIDUuNzI4IDUuNzI0LTMuMDQyYy44ODQuMDg5IDEuNzcyLS4yMDUgMi40MzItLjg2NS42MzQtLjYzNC45NjktMS41MjQuODU5LTIuNDczbDIuOTg1LTUuNjIxem0tNS45NyA3LjIyYy0uNjg5IDAtMS4yNS0uNTU5LTEuMjUtMS4yNDktLjAwMS0uNjkxLjU1OS0xLjI1MSAxLjI1LTEuMjUuNjkgMCAxLjI1LjU2IDEuMjUgMS4yNS0uMDAxLjY4OS0uNTYgMS4yNDktMS4yNSAxLjI0OXoiLz48L3N2Zz4=");
}
#orientation-stop {
    display: none;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNMjQgMTFoLTIuMDUxYy0uNDY5LTQuNzI1LTQuMjI0LTguNDgtOC45NDktOC45NXYtMi4wNWgtMnYyLjA1Yy00LjcyNS40Ny04LjQ4IDQuMjI1LTguOTQ5IDguOTVoLTIuMDUxdjJoMi4wNTFjLjQ2OSA0LjcyNSA0LjIyNCA4LjQ4IDguOTQ5IDguOTV2Mi4wNWgydi0yLjA1YzQuNzI1LS40NjkgOC40OC00LjIyNSA4Ljk0OS04Ljk1aDIuMDUxdi0yem0tMTEgOC45MzF2LTMuOTMxaC0ydjMuOTMxYy0zLjYxMS0uNDU0LTYuNDc4LTMuMzItNi45MzEtNi45MzFoMy45MzF2LTJoLTMuOTMxYy40NTMtMy42MTEgMy4zMi02LjQ3NyA2LjkzMS02LjkzMXYzLjkzMWgydi0zLjkzMWMzLjYxMS40NTQgNi40NzggMy4zMTkgNi45MzEgNi45MzFoLTMuOTMxdjJoMy45MzFjLS40NTMgMy42MTEtMy4zMiA2LjQ3Ny02LjkzMSA2LjkzMXptMS03LjkzMWMwIDEuMTA0LS44OTYgMi0yIDJzLTItLjg5Ni0yLTIgLjg5Ni0yIDItMiAyIC44OTYgMiAyeiIvPjwvc3ZnPg==");
}
